*, ::after, ::before { box-sizing: border-box; } 

:root {
    --popisky:#aca9a9;
    --cara:#629edb;
    --pozadi:#f5f5f5;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--pozadi);
}

.hlavni-nadpis {
    font-family:'Raleway', sans-serif; 
    font-size: 3.5rem;
    margin: 0;
}

.hlavicka {
    background-color: #1351c5;
    background-image: linear-gradient( rgba(255, 255, 255, 0.02),rgba(0, 0, 0, 0.602) ),url(/images/island-hlavicka.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 1.5rem;
}

.autor {
    color: #fff;
    opacity: 0.5;
    font-style: italic;
}

.cara-autor {
    width: 15%;
    background-color: #aca9a9;
    color:#aca9a9;
    margin-top: 2rem;
    opacity: 0.7;
}

.navigace {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: -1rem;
    margin-top: 0.5rem;
}

.navigace a {
    text-decoration: none;
    color: var(--popisky);
    text-transform: uppercase;
    font-size: 0.8rem;
    border-bottom: 1px solid #aca9a91e;
    padding: 0.5rem;
}

.sekce-text {
    padding: 1.5rem;
}

.fotka-popis img {
    width: 100%;
}

.fotka-popis a {
    color: var(--popisky);
}

.fotka-popis {
    color: var(--popisky);
    text-align: center;
    font-size: 0.7rem;
}

.fotka-popis p {
    margin: 0;
}

.sekce-nadpis {
    font-family:'Raleway', sans-serif; 
    padding: 1.5rem;
    margin: 1rem 0 0 0;
}

.cara-sekce {
    color: var(--cara);
    background-color:var(--cara);
    height: 5px;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 15%;
    border: none;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figcaption {
    color: var(--popisky);
    text-align: center;
    font-size: 0.8rem;
}

figcaption a {
    color: var(--popisky);
}

figure img {
    width: 100%;
}

.galerie-autor {
    font-weight: bold;
    color: #7e7777 ;
}

.fig-1 {
    margin-top: 2rem;
}

.paticka {
    background-image: linear-gradient(#bbb6b6c0, #80808036 15%);
    padding: 1.5rem;
    font-size: 0.7rem;
    color: var(--popisky);
    font-weight: bold;
}

.paticka a {
    color: var(--popisky);
}

.paticka p {
    margin: 0;
}